html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1, h2, h3, p, ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


body {
    padding: 0;
    margin: 0;
    background-color: #add8e6;
    font-family: sans-serif;
}

.container {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 10px;
}

h1 {
    margin-bottom: 30px;
}

.accordion:hover ~ .accordion__panel-arrow {
    opacity: 1;
}

.accordion__panel {
    margin-bottom: 10px;
    position: relative;
}

.accordion__panel-arrow {
    position: absolute;
    right: 15px;
    top: 25px;
    width: 15px;
    opacity: 0;
    transition: all .4s linear;
}

.accordion__panel-btn {
    padding: 20px 40px 20px 15px;
    cursor: pointer;
    border: 2px solid;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    width: 100%;
}

.accordion__panel-content {
    text-align: center;
    height: 0;
    overflow: hidden;
    transition: all .4s linear;
}

.accordion__panel-img {
    max-width: 500px;
    width: 100%;
}

.accordion:hover .accordion__panel-btn {
    color: #008000;
}

.accordion__panel-btn:focus + .accordion__panel-content {
    height: 500px;
}

.accordion__panel-btn:focus ~ .accordion__panel-arrow {
    transform: rotate(90deg);
    opacity: 1;
} 

.accordion__panel-btn:not(:focus) + .accordion__panel-content {
    height: 0;
}

.accordion__panel-btn:hover + .accordion__panel-content {
    height: 500px;
}

.accordion__panel-btn:hover ~ .accordion__panel-arrow {
    transform: rotate(90deg);
    opacity: 1;
} 

#content:hover {
    height: 500px;
    cursor: pointer;
}

#content:hover ~ .accordion__panel-arrow {
    transform: rotate(90deg);
    opacity: 1;
}

.accordion__panel-img:active ~ #content {
    background-color: rgba(255,255,255,.5);
}


@media screen and (max-width: 820px) {
    h1 {
        font-size: 28px;
    }
    .accordion__panel-btn {
        font-size: 18px;
        line-height: 22px;
    }
}

@media screen and (max-width: 500px) {
    .container {
        max-width: 350px;
    }
    .accordion__panel-btn:focus + .accordion__panel-content,
    .accordion__panel-btn:hover + .accordion__panel-content,
    #content:hover {
        height: 330px;
    }
}

@media screen and (max-width: 350px) {
    .container {
        max-width: 350px;
    }
    .accordion__panel-btn:focus + .accordion__panel-content,
    .accordion__panel-btn:hover + .accordion__panel-content,
    #content:hover {
        height: 300px;
    }

    h1 {
        font-size: 26px;
    }
    .accordion__panel-btn {
        font-size: 16px;
        line-height: 20px;
    }
}